<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
Superhero 1 Name: <input id="member1_name" type="text" name="team[members][][name]">
Superhero 1 Power: <input id="member1_power" type="text" name="team[members][][power]">
Superhero 1 Bio: <input id="member1_bio" type="text" name="team[members][][bio]">


Superhero 2 Name: <input id="member2_name" type="text" name="team[members][][name]">
Superhero 2 Power: <input id="member2_power" type="text" name="team[members][][power]">
Superhero 2 Bio: <input id="member2_bio" type="text" name="team[members][][bio]">

Superhero 3 Name: <input id="member3_name" type="text" name="team[members][][name]">
Superhero 3 Power: <input id="member3_power" type="text" name="team[members][][power]">
Superhero 3 Bio: <input id="member3_bio" type="text" name="team[members][][bio]">

Team Name: <input type="text" name="team[name]">
Team Motto: <input type="text" name="team[motto]">
 <input type="submit" value="submit">
</form>
